@model IspitToDo.Models.Todolist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Todolist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            User
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>

    @using (Html.BeginForm("UpdateMultipleTasksStatus", "ManageTask", FormMethod.Post))
    {
        <input type="hidden" name="TodolistId" value="@Model.Id" />
        <h4>Tasks</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Status</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.Tasks.Where(t => !t.Status)) // Only include tasks with Status == false
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => task.TaskName)</td>
                        <td>
                            <input type="checkbox" name="taskStatus" value="@task.Id" />
                            <input type="hidden" name="taskIds" value="@task.Id" />
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="ManageTask" asp-action="Create" asp-route-todolistId="@Model.Id" class="btn btn-primary">Create New Task</a>
        <input type="submit" value="Save Changes" class="btn btn-success" />
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>